@font-face {
    font-family:"font1";
    src: url(fonte/Insanibu.ttf);
}

*{
    margin: 0px;
    padding: 0px;
}

body{

    background-color: black;
}

section{
    
    background-color: black;
    color: white;

}

header{

    background-image: linear-gradient(to bottom,rgb(207, 0, 0),rgb(0, 0, 124));
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    font-family: 'font1';

}

header>h1, h2{

    padding: 20px;
    color: white;
    
}

header>h2{

    padding: 30px;
}

header> a:hover{

    text-decoration: none;
    color: rgb(0, 204, 255);

}
nav{

    display: flex;
    flex-wrap: wrap;
    padding: 10px;

}

nav>a{

    background-color: rgba(0, 0, 0, 0.548);
    text-decoration: none;
    color: white;
    font-size: small;
    border: 1px solid white;
    padding: 10px;

}

nav>a:hover{
    
    color: rgb(0, 255, 234);

}

section{ 

    display: flex;
    align-items: center;  
    height: 400px;
    margin: 0px auto;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-color: black;  

}

#div1{

    background-color: rgb(1, 1, 63);
    background-image: url(fotos/8013.jpg);
    align-items: center;

}

#div2{

    background-color: black;   
    height: 160px;
    justify-content: center;
}

#div2>h1{

    border: 1px solid white;
    padding: 10px;

}

main{

    margin: 0px auto;
    margin-top: 10%;
}

main>a{

    text-decoration: none;
    color: white;
}

main>a>h1,p{

    background-color: rgba(0, 0, 0, 0.692);
    border: 1px solid white;
    text-align: center;
    padding: 10px;  

}
main>a:hover{

    text-decoration: none;
    color: rgb(0, 255, 234);
    
}
